<div class="container border  shadow p-3 mb-5 bg-body rounded">
    <h2>Bugs Details</h2>
    <hr class="border border-dark">
    <% if(bugs.length> 0 ) { %>
        <table class="table table-secondary align-middle">
            <thead class="fw-bold fs-5">
                <tr>
                    <td>Sl.No</td>
                    <td>Bug Title</td>
                    <td>Bug Assigne</td>
                    <td>Bug Description</td>
                    <td>Date</td>
                    <td>Bug Status</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <% bugs.forEach(bug=> {%>
                    <tr>
                        <td>
                            <%= ++counter %>.
                        </td>
                        <td>
                            <i>
                                <%=bug.title %>
                            </i>
                        </td>
                        <td>
                            <%=bug.assigne %>
                        </td>
                        <td>
                            <%=bug.description %>
                        </td>
                        <td>
                            <%=bug.time.getDate()%>/<%=bug.time.getMonth()%>/<%=bug.time.getFullYear()%>
                        </td>
                        <% if( ((bug.time.getTime())+(3*86400000)) <= currdate) {%>
                            <td class="fw-bold bg-success" id="status">Resolved </td>
                            <% } else { %>
                                <td class="fw-bold bg-danger" id="status">Active</td>
                                <% } %>
                                    <td>
                                        <a class="delete" title="Delete Bug"
                                            style="text-decoration: none;cursor:pointer;" data-id="<%=bug._id %>">
                                            <span class="fs-2">&#128465;</span>
                                        </a>
                                    </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <div class="alert alert-info">No Bugs to display</div>
            <% } %>
</div>
<script>
    var a = document.querySelector("a.delete");
    a.addEventListener('click', (e) => {
        const url = `/${a.dataset.id}`;
        fetch(url, {
            method: 'DELETE'
        }).then((response) => {
            response.json()  //returns json data next then to handel returned obj
        }).then((data) => {
            console.log("received response =" + data);
            window.location.href = "/";
        }).catch((err) => {
            if (err) console.log(err);
        })
    })
</script>